<h3>以下の内容で送信しますか？</h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <div class="field">
     <p><span class="item_name">タスク名</span> <%= @task.title %></p>
  </div>
  <div class="field">
    <p><span class="item_name">内容</span> <%= @task.content %></p>
  </div>
  <div class="actions">
    <%= form.submit  "登録する" %>
    <%= form.submit "戻る", name: 'back' %>
  </div>
<% end %>
