<h1>タスク一覧</h1>
<p><%= notice %></p>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <p><span class="item_name">タスク名</span> <%= task.title %></p>
       <p><span class="item_name">内容</span> <%= task.content %></p>
       <p><span class="item_name">終了期限</span> <%= task.deadline %></p>
       <p class="btns">
         <%= link_to '詳細を確認する', task_path(task.id) %>
         <%= link_to "タスクを編集する", edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %>
         <%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
       </p>
  </li>
  <% end %>
</ul>
<p><%= link_to '新しくタスクを投稿する', new_task_path %></p>
